#content{
    text-align: center;
    padding-top: 10%;
}

.navbar{
    margin-bottom: 0;
    
}

.navbar-brand{
    text-transform: uppercase;
    font-size: 25px;
}
.navbar-default{
    background-color: rgb(227, 201, 92);    
}

.jumbotron h1{
    color: white;
    text-align: right;
    font-size: 3em;
    text-shadow: 3px 2px black;
    padding-top: 5%;
}



.jumbotron p{
    text-align: right;
    color: white;
    font-family: 'Lato', sans-serif;
}

.container{
    font-family:'Lato', sans-serif;
}

h1{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#subheading{
    color:goldenrod;
    text-align:center;
    font-weight:700;
    margin-top: 100px;
    
}

.jumbotron{
  position: relative;
  z-index:-2;
}


#video-background { 
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  width:100%;
}

